{% extends 'base_livres.html' %}
{% block title %}Créer Auteur{% endblock %}
{% block content %}
{% if form.errors %}
<div class="container mt-3">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ form.errors }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
<h1>Créer un nouvel auteur</h1>
<form method="POST" class="container">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        {{ field.label }}
        {% if field.field.required %}
        <span class="text-danger">*</span>
        {% endif %}
        <span> :</span>
        {{ field }}
    </div>
    {% endfor %}
    <a href="{% url 'livres:liste_auteurs' %}" class="btn btn-outline-secondary">Annuler</a>
    <input class="btn btn-success" type="submit" value="Enregistrer">
</form>
{% endblock %}
