<!DOCTYPE html>

{% load static %}

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
        <link rel="icon" href="{% static 'icons/book.svg' %}" type="image/svg+xml">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="margin-bottom: 1em; padding-left: 1em;">
                <a class="navbar-brand" href="{% url 'hub' %}">
                    <img src="{% static 'icons/house.svg' %}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                    Médiathèque
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        {% if perms.auth.view_group %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'group_list' %}">Gestion des groupes</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Amis</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'liste_users' %}">Rechercher</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Mes amis</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'livres:rechercher' %}">Rechercher un livre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'livres:bibliotheque' %}">Ma bibliothèque</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'livres:liste_de_souhaits' %}">Ma liste de souhaits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'livres:liste_auteurs' %}">Auteurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'livres:liste_tags' %}">Tags</a>
                        </li>
                        {% if user.is_authenticated  and perms.api.creer_livre and perms.api.creer_auteur and perms.api.creer_tag %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Créer</a>
                            <ul class="dropdown-menu">
                                {% if perms.api.creer_livre %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'livres:creer_livre' %}">Livre</a>
                                </li>
                                {% endif %}
                                {% if perms.api.creer_auteur %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'livres:creer_auteur' %}">Auteur</a>
                                </li>
                                {% endif %}
                                {% if perms.api.creer_tag %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'livres:creer_tag' %}">Tag</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account' %}">{{ user.username }}</a>
                            </li>
                            <li class="nav-item">
                                <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger">Déconnexion</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="btn btn-outline-primary me-2" href="{% url 'login' %}">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" href="{% url 'signup' %}">Inscription</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>                
            </nav>            
        </header>
        <main>
            <section>
                {% block content %}
                {% endblock %}
            </section>
        </main>
        {% block scripts %}
        {% endblock %}
    </body>
</html>