<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>
            Médiathèque
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <main>
            <h1>Bienvenue sur le site de gestion de votre médiathèque !</h1>
            <p>Pour continuer choississez une catégorie d'entrée que vous souhaité consulter.</p>
            <a href="{% url 'livres:accueil' %}">Livres (Romans, BD, Comics, Mangas, ...)</a>
            <a href="{% url 'schema-swagger-ui' %}">Documentation de l'API</a>
        </main>
    </body>
</html>