.clickable-row {
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.clickable-row:hover {
    background-color: #f8f9fa;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.tags-section {
    flex: 2;
}

.auteurs-section {
    flex: 1;
    max-width: 250px;
}

