{% extends 'base.html' %}
{% load static %}
{% block title %}Rechercher{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <form class="input-group mb-3" method="POST">
        {% csrf_token %}
        {{ search_form.recherche }}
        <button class="btn btn-outline-secondary" id="search-button" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
        <div class="container mt-3 d-flex gap-4">
            <div class="tags-section">
                <label class="form-label">Tags :</label>
                <div class="d-flex flex-wrap gap-2">
                    {% for tag in search_form.tags.field.choices %}
                    <div class="form-check form-switch">
                        <input type="checkbox" class="btn-check" id="tag_{{ forloop.counter }}" name="tags" value="{{ tag.0 }}">
                        <label class="btn btn-outline-primary" for="tag_{{ tag.0 }}">
                            {{ tag.1 }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="auteurs-section">
                <label class="form-label" for="id_auteur">Auteur :</label>
                {{ search_form.auteur }}
            </div>
        </div>
    </form>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Date de sortie</th>
                <th scope="col">Auteur(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livres %}
                <a href="{% url 'livres:detail_livre' livre.id %}">
                    <tr class="clickable-row" data-href="{% url 'livres:detail_livre' livre.id %}">
                        <td>{{ livre.nom }}</td>
                        <td>{{ livre.date_sortie }}</td>
                        <td>{{ livre.auteurs.all|join:", " }}</td>
                    </tr>
                </a>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const rows = document.querySelectorAll('.clickable-row');
        rows.forEach(row => {
            row.addEventListener('click', function () {
                window.location.href = this.dataset.href;
            });
        });
    });
    </script>
{% endblock %}
